/*
    Below color variable is used to make things more customizable. This allows
    us to reuse the same color everywhere or we can choose to have a different one.
*/
// Colors
$brand-primay: #5b4681;
$grey: #dddddd;

// Spacing
$space: 1.4rem;

// Font Sizes
$base-font-size: 1.4rem;

// Form Inputs
$input-border: $grey;
$input-spacing: 1rem;

// Boxed View Variables
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: #ffffff;

// Button
$button-bg: $brand-primay;
$button-color: white;
$button-pill-color: $brand-primay;
$button--secondary-bg: #f9f9f9;
$button--secondary-color: #777777;
$button--secondary-border-color: $grey;